*{
    margin:0%;
    padding:0%;
    font-family:sans-serif;
}
.header{
    background-image: url('background.jpg');
    width:100%;
    background-position:relative;
    background-size:cover;
    background-repeat:no-repeat;
}
img{
    float:left;
    margin-left:10%;
    margin-right:10%;
    padding:25px;
}
.nav{
    background:rgba(248, 248, 248, 0.6);
    height:100px;
    width:100%;
    position:fixed;
}
ul,li{
    display:inline-block;
    padding:10px;
    margin:10px;
}
li,a{
    text-align:center;
    padding-top:10px;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    color:#353434;
}
#apply{
    text-align:right;
    background:#00008b;
    margin-left:100px;
    padding:15px 30px;
    color:#fff;
    border-radius:50px;
    font-size:17px;
    font-weight: 600;
}
a:hover{
    transition:0.5s;
    color:#145694;
}
a#apply:hover{
    box-shadow:0px 0px 5px 5px #808081;
}
.getStarted{
    margin-left:200px;
    padding-top:200px;
    position:static;
}
#edu{
    font-size:70px;
    font-weight:800;
    color:#041647;
}
#goal{
    font-weight:650;
}
#batch{
    font-size:30px;
    margin-top:25px;
    font-weight:500;
    background:#fff;
    padding:10px;
    border-radius:5px;
    width:75%;
}
#date{
    color:#069ee0;
    font-weight:800;
    font-size:35px;
}
#start a{
    padding:15px 45px;
    font-size:20px;
    color:#fff;
    font-weight:600;
    background:#00008b;
    border-radius:50px;
}
#icon a{
    color:#fff;
}