*{
    margin:0%;
    padding:0%;
    font-family:sans-serif;
}
.header{
    background-image: url('background.jpg');
    width:100%;
    background-position:relative;
    background-size:cover;
    background-repeat:no-repeat;
}
img{
    float:left;
    margin-left:10%;
    margin-right:10%;
    padding:25px;
}
.nav{
    background:rgba(248, 248, 248, 0.6);
    height:100px;
    width:100%;
    position:fixed;
}
ul,#nav{
    display:inline-block;
    padding:10px;
    margin:10px;
}
#nav,a{
    text-align:center;
    padding-top:10px;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    color:#353434;
}
#apply{
    text-align:right;
    background:#00008b;
    margin-left:100px;
    padding:15px 30px;
    color:#fff;
    border-radius:50px;
    font-size:17px;
    font-weight: 600;
}
a:hover{
    transition:0.5s;
    color:#145694;
}
a#apply:hover{
    box-shadow:0px 0px 5px 5px #808081;
}
.getStarted{
    margin-left:200px;
    padding-top:200px;
    position:static;
}
#edu{
    font-size:70px;
    font-weight:700;
    color:#041647;
}
#goal{
    font-weight:650;
}
#batch{
    font-size:25px;
    margin-top:25px;
    font-weight:500;
    background:#fff;
    padding:10px;
    border-radius:5px;
    width:85%;
}
#date{
    color:#069ee0;
    font-weight:800;
    font-size:30px;
}
#start,#icon{
    display:inline-block;
    padding-bottom:10px;
}
#start a{
    padding:15px 45px;
    font-size:20px;
    color:#fff;
    font-weight:600;
    background:#00008b;
    border-radius:50px;
}
#icon a{
    color:#fff;
}
.images{
    width:50%;
    float:left;
}
.images img{
    width:100px;
    height:100px;
    border-radius:50%;
}
#photo1{
    margin-top:500px;
    margin-left:500px;
}
#photo2{
    margin-top:-500px;
    margin-left:400px;
}
#photo3{
    margin-top:-300px;
    margin-left:350px;
}
#photo4{
    margin-top:-400px;
    margin-left:200px;
}
#photo5{
    margin-top:-150px;
    margin-left:150px;
}
.content{
    float:right;
    width:50%;
}
.content .fas{
    margin-top:200px;
    margin-left:250px;
    color:#00008b;
}
li .speech{
    margin-top:-220px;
    margin-left:-100px;
    width:600px;
    text-align:justify;
    line-height: 30px;
}
li .button{
    float:right;
    margin-left:700px;
}
li .name{
    text-align:justify;
    margin-top:50px;
    margin-left:-100px;
    color:#00008b;
}
li .display{
    display:none;
}
.radio{
    margin-left:600px;
    margin-top:30px;
}
.radio .button{
    margin-top:30px;
}
#none{
    display:inline-block;
}
.brand{
    background:#1a8cff;
    margin-top:700px;
    color:#fff;
    padding:20px 20px;
    display:grid;
    grid-template-columns: 500px 500px 300px;
}
#per{
    font-size:80px;
    padding:20px;
}
#title{
    font-size:25px;
    font-weight:600;
    padding:20px;
}
#process{
    padding:20px;
    width:300px;
}
.elipTop img{
    margin-left:500px;
    margin-top:50px;
}
.elipBottom img{
    margin-top:550px;
    margin-left:-930px;
}
.lap img{
    width:600px;
    height:600px;
    margin-top:-200px;
    margin-left:130px;
}
.methods{
    float:right;
    width:45%;
    clear:both;
    margin-top:-680px;
}
#afe{
    font-size:20px;
    letter-spacing: 5px;
    color:#00008b;
}
#rev{
    margin-top:70px;
    margin-right:200px;
    line-height: 30px;
}
#rev1{
    margin-top:50px;
    margin-right:200px;
    line-height: 30px;
}
#list{
    text-align:left;
    font-weight:50px;
    color:blue;
    padding:5px;
    font-size:30px;
    margin-right:200px;
}
#list a{
    color:#696969;
    font-size:15px;
}
.why{
    background:#f2f2f2;
    margin-top:850px;
    padding:100px 50px;
}
.train{
    width:70%;
    display:grid;
    grid-template-rows:50% 50%;
    grid-template-columns:50% 50%;
    padding-top:60px;
    text-align:justify;
}
.lfh,.payement,.projects,.interview{
    padding:20px;
}
#steps{
    margin-top:150px;
    width:400px;
}
#steps:hover{
    color:red;
}
#steps1{
    width:380px;
    padding:20px 5px;
    line-height:30px;
}
#ques{
    color:rgba(0, 0, 255, 0.658);
    font-size:30px;
    font-weight:500;
}
#underline{
    color:red;
}
.register{
    float:right;
    margin:-750px 30px 50px 600px;
    background:rgb(24, 50, 81, 0.7);
    display:inline-block;
    border-radius:25px;
    text-align:center;
}
#book{
    background:rgb(255, 95, 96, 1);
    box-shadow: rgb(56 67 110) 0px -11px 0px 0px;
    padding:50px 30px;
    color:#fff;
    font-weight:800;
    font-size:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#form{
    background:initial;
    text-align:center;
    font-size:18px;
    margin:30px 0px 5px 15px;
    padding:30px 5px 5px 10px;
    border-top:hidden;
    border-right:hidden;
    border-left:hidden;
    border-bottom:1px dashed whitesmoke;
    outline:none;
    color:lightgray;
}
#formApply{
    background:rgb(255, 95, 96, 1);
    text-align:center;
    margin-top:50px;
    margin-bottom:80px;
    padding:20px 40px;
    font-size:17px;
    color:whitesmoke;
    border-radius:30px;
    font-weight:600;
    border:hidden;
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 20%);
}
#formApply:hover{
    background:initial;
    border:2px groove whitesmoke;
    cursor:pointer;
}
#eligibility{
    margin:80px 10px 50px 150px;
    color:rgb(0, 38, 255);
    font-weight:500;
}
.eligibility{
    display:grid;
    grid-template-columns: 600px 600px;
    grid-template-rows:200px 200px;
    margin-left:150px;
    grid-row-gap:35px;
    grid-column-gap:50px;
}
.eligibility1{
    border:1px solid black;
    
}
.eligibility1 img{
    padding-left:5px;
}
.eligibility1 p{
    padding:120px 50px 30px 50px;
    font-size:25px;
    font-weight:700;
    color:rgb(24, 24, 26);
}
#education:hover{
    color:red;
    transition-duration: 0.5s;
}
.paymentmethods{
    margin-left:150px;
    display:grid;
    grid-template-columns:600px 600px;
    grid-column-gap:50px;
}
.method1{
    background:#ffffff;
}
#fees{
    background:#2196f3;
    color:#fff;
    padding:15px 30px;
    font-size:25px;
}
#offer{
    background:#34ce17;
    color:#fff;
    border:1px solid #16560a;
    margin-left:230px;
    margin-right:220px;
    margin-bottom:-8px;
    font-size:14px;
    padding:5px 15px;
    text-align:center;
    letter-spacing: 0.2px;
    font-weight:600;
}
#fee{
    background:#ffff;
    padding:25px 20px;
    border-bottom:1px solid black;
}
#cut{
    text-decoration:line-through;
    text-decoration-color: red;
}
#income{
    font-size:26px;
    color:#00008b;
    font-weight:700;
}
#bracket{
    font-size:15px;
}